@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Open+Sans:wght@500;600;700&family=Oxygen:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -webkit-tap-highlight-color: transparent;
}

.transform{
  transform: scaleX(-1);
}

.toggle-path {
  transition: background 0.3s ease-in-out;
}
.toggle-circle {
  top: 0.2rem;
  left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle-circle {
  transform: translateX(100%);
}
input:checked ~ .toggle-path {
  background-color:rgb(169, 129, 230);
}
